build
builddir
.cache
.vscode
compile_commands.json

# ignore all in subprojects except the .wrap files
/subprojects/*
!/subprojects/*.wrap

# c++ modules
*.pcm
a.out
*.o

# visual studio
**/.vs/**
**/x64/Release/**
**/x64/Debug/**

#Notepad++ backups
**/nppBackup/**